.closeModal {
  position: absolute;
  bottom: 30px;
}
.bottomContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.iconSize {
  height: 24px;
  width: 24px;
}
.vcentered {
  display: flex;
  align-items: center;
}
.inpt {
  width: 10%;
  border: 1px solid black;
}

.mapBox {
  width: 500px !important;
  height: 300px !important;
  position: relative;
}
.markerFixed {
  z-index: 10000;
  left: 50%;
  position: absolute;
  top: 50%;
}
.marker {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.locationPin {
  transform: translate(-50%, -100%);
  height: 40px;
  width: 40px;
  color: #2d545e;
}

.locationCrosshair {
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}
