.placeholder {
  height: 30vh;
}

.masters {
  background-color: #ffa500;
}
.map-canvas {
  width: 500px;
  height: 500px;
}

.side-menu {
  background-color: lightcyan;
  --ion-grid-padding: 0;
}
.fullHeight {
  height: 100% !important;
  padding: 0 !important;
}
