.map-user-image {
  position: relative;
  cursor: pointer;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -100%);
  color: #2d545e;
}
.map-admin-point {
  position: relative;
  cursor: pointer;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -100%);
  color: red;
}
.map-admin-point.notSetted {
  opacity: 0.2;
}
.map-user-to-share {
  position: relative;
  cursor: pointer;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -100%);
  opacity: 0.2;
  color: black;
}
